.lobby {
	display: flex;

	align-content: center;

	width: 100%;
	height: 100%;

	.lobby-content {
		display: flex;

		flex-direction: column;

		align-items: center;

		margin: auto;

		width: 500px;
		height: 400px;
		h1 {
			width: 100%;
			color: #fdf2ce;
			font-size: 3rem;
			text-align: center;
		}
		.table {
			margin-bottom: 10px;

			width: 100%;
			height: 400px;

			background: white;
		}
		table {
			width: 100%;

			border-collapse: collapse;

			th,
			td {
				padding: 5px;
			}

			thead tr {
				background: #efe8d6;
				border-bottom: 1px solid black;
			}

			th:first-child,
			td:first-child {
				width: 20px;
			}

			button {
				cursor: pointer;
				padding: 3px 15px 5px;
				min-height: 48px;
			}
		}

		.button-container {
			display: flex;

			width: 100%;
			button {
				color: #0c1326;
				font-size: 1rem;
				max-width: 50%;
				padding: 3px 15px 5px;
				min-height: 48px;
				cursor: pointer;
			}
			button:first-child {
				margin-right: auto;
				&:hover, &:focus {
					background: #ec3249;
				}
			}
			button:last-child {
				background: #02c39a;
				&:hover, &:focus {
					background: #1fe8b8;
				}
			}
		}
	}
}
